<div ng-controller="contactCtrl" id="contactId">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAyiKXvXDox7S15Hr_UAkyyMvVmsQ3s5M&v=3.exp&callback=initialize"></script>
    <div class="flex">
        <div id="mapBlock">
            <div id="map"></div>
        </div>
        <div class="kontakt">
            <h3 class="veganNapis">Veganská restaurace</h3>
            <h4>
                <br />
                <b>Kontakt</b>
            </h4>
            <div>
                <h5>Roztylská 2321/19</h5>
                <h5> 148 00 Praha 4 </h5>
                <h5>Tel: +420 777 111 111</h5>
                <h5>Email: veganskarestaurace@gmail.com</h5>
            </div>
        </div>
    </div>
</div>