<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script-->

<div ng-controller="contactCtrl" id="contactId">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script>
    <div class="flex">
        <div id="mapBlock">
            <div id="map"></div>
        </div>
        <div class="kontakt">
            <h3 class="veganNapis">Veganská restaurace</h3>
            <h4> <b>Kontakt</b> </h4>
            <div>
                <h5>Roztylská 2321/19</h5>
                <h5> 148 00 Praha 4 </h5>
                <h5>Tel: +420 777 111 111</h5>
                <h5>Email: veganskarestaurace@gmail.com</h5>
            </div>
            <h4>
                <b>Otevírací doba</b>
                <h5 ng-repeat="w in week" ng-class="{openToday: today.getDay() == w.id}">
                    {{w.day}}: &nbsp; {{w.from}} - {{w.to}}
                </h5>
            </h4>
        </div>
    </div>
</div>