<div>
    <header ng-controller="headCtrlP">
        <div class="headClass">
            <a ui-sref="public.home" class="navbar-brand">Veganská restaurace</a>
        </div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button id="btnShowMenu" class="navbar-toggle" type="button" ng-init="navCollapse=true" ng-click="navCollapse = !navCollapse">
                    <span class="sr-only">vegan</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" ng-class="!navCollapse && 'in'" ng-click="navCollapse=true">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <a ui-sref="public.home">O nás</a>
                    </li>
                    <li>
                        <a ui-sref="public.contact">Kontakt</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a ui-sref="public.menu">Menu</a>
                    </li>
                    <li>
                        <a ui-sref="public.reservation">Rezervace stolů</a>
                    </li>
                    <li>
                        <a href="/#/login">Admin</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <section ui-view="public" class="contentPublic">

    </section>
    <footer>

    </footer>
</div>