<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script-->

<div ng-controller="contactCtrl" id="contactId">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script>
    <div class="flex">
        <div id="mapBlock">
            <div id="map"></div>
        </div>
        <div>
            <h1 id="h1Kontrola">

            </h1>
            <h3>
                Oteviraci doba
            </h3>
            <h3>
                Adresa
            </h3>
        </div>
    </div>
</div>