<div ng-controller="homeCtrl">

    <div>
        <div id="imgHome" style="width: 300px; height: 350px; margin-left: 20%;"></div>
        <div id="textHome">
            <h1> *podelni menu - cas</h1>
            Vážení zákazníci, naše restaurace nabizi sirokou nabidku
            100% veganske stravy. Varime jidlo pouze z rostlinnych
            surovin. V nabidce mame take raw-food jidla. Používáme kvalitní
            oleje, za studena lisované. Všechny suroviny jsou bez konzervantů,
            barviv a umělého čehokoliv.Greenbar vám nabízí bohatý výběr teplých
            jídel, salátů, dezertů, teplých a studených nápojů. Lehká
            vegetariánská strava šetří vaše zdraví, peněženku a čas. náš
            jídelníček se neustále mění podle momentální nabídky surovin.
        </div>
    </div>

    {{2+2}}
    <h1>hello</h1>
    {{test}}
    {{2+2}}
    <h1>hello</h1>
    {{test}}{{2+2}}
    <h1>hello</h1>
    {{test}}{{2+2}}
    <h1>hello</h1>
    {{test}}{{2+2}}
    <h1>hello</h1>
    {{test}}{{2+2}}
    <h1>hello</h1>
    {{test}}
    <h1>hello</h1>
    {{test}}{{2+2}}
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
    <h1>hello</h1>
</div>