<div ng-controller="homeCtrl" >
    <div class="flex">
        <div id="imgHome" ><img src="../../img/vegExampleHome.jpg" alt="Obrazek" /></div>
        <div id="textHome">
            <p> *podelni menu - cas</p>
            Vážení zákazníci, naše restaurace nabizi sirokou nabidku
            100% veganske stravy. Varime jidlo pouze z rostlinnych
            surovin. V nabidce mame take raw-food jidla. Používáme kvalitní
            oleje, za studena lisované. Všechny suroviny jsou bez konzervantů,
            barviv a umělého čehokoliv.Greenbar vám nabízí bohatý výběr teplých
            jídel, salátů, dezertů, teplých a studených nápojů. Lehká
            vegetariánská strava šetří vaše zdraví, peněženku a čas. náš
            jídelníček se neustále mění podle momentální nabídky surovin.
        </div>
    </div>
</div>