<div ng-controller="menuCtrlP" id="menuMainBlock" class="flex">
    <!--div id="menuTabs">
        <nav>
            <div ng-repeat="tab in tabs" ng-class="{active:activeTab(tab.template)}"
                 ng-click="onclickTab(tab)">
                <a href="" >
                    {{tab.title}}
                </a>
            </div>
        </nav>
        <div>
            <div ng-include="currentTab"></div>
        </div>
    </div>
    <div id="menuPublicContent">
        <div type="text/ng-template" id="poledni">
            <div ng-hide="!vikend" ng-show="vikend">{{todayStr}}</div>
            <div ng-show="!vikend" ng-hide="vikend" class="menuList">
                <ul>
                    <li ng-repeat="x in tridaDaily" > <div class="menuTrida"><h3>{{x.text}}</h3></div>
                        <ul>
                            <li ng-repeat="d in poledni |filter:x.name " class="menuFood"> {{d.foodName}}...............{{d.price}} Kč</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div type="text/ng-template" id="jidelni">
            <div id="menuId"  class="menuList">
                <ul id="publicMenu">
                    <li ng-repeat="x in tridaVar" > <div class="menuTrida"><h3>{{x.text}}</h3></div>
                        <ul>
                            <li ng-repeat="d in data |filter:x.name " class="menuFood"> {{d.foodName}}...............{{d.price}} Kč</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div type="text/ng-template" id="napojovy">
            <div  class="menuList">
                <h1> Napojovy  tmp</h1>
            </div>
        </div>
    </div-->

    <div id="dailyMenuBlock">
        <div>
            <h4>{{ tabs[0].title }}</h4>
            <table class="table">
                <tbody>
                <tr ng-repeat="p in poledni">
                    <td>{{p.foodType}}</td>
                    <td>{{p.foodName}}</td>
                    <td>{{p.price}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="menuBlock">
        <div class="tabset">
            <ul class="tabs">
                <li ng-click="setTab(tabs[1].template)" ng-class="{active: activeTab=='jidelni'}"><a href="">Jídelní lístek</a></li>
                <li ng-click="setTab(tabs[2].template)" ng-class="{active: activeTab=='napojovy'}"><a href="">Nápojový lístek</a></li>
            </ul>
        </div>
        <div class="tabContent" ng-show="activeTab == 'jidelni'">
            <table class="table">
                <tbody>
                <tr ng-repeat="f in data">
                    <td>{{f.foodType}}</td>
                    <td>{{f.foodName}}</td>
                    <td>{{f.price}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="tabContent" ng-show="activeTab == 'napojovy'">
            <table class="table">
                <tbody>
                <tr ng-repeat="n in napojovy">
                    <td>{{n.drinkName}}</td>
                    <td>{{n.price}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>