<div ng-controller="tablesCtrl">
    <div id="tableArea" class="flex">
        <!--div id="calendar">
            <div>
                <table ng-show="!showSecondTable">
                    <thead>
                        <tr class="mesic">
                            <th colspan="2" ng-click="prevMonth(today.getMonth())"><a href=""><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a></th>
                            <th colspan="3">
                                {{month[today.getMonth()]}}, {{today.getFullYear()}}
                            </th>
                            <th colspan="2" ng-click="nextMonth(today.getMonth())"><a href=""><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></th>
                        </tr>
                        <tr class="tydne">
                            <th ng-repeat="x in [0, 1, 2, 3, 4, 5, 6]"> {{weeks[x]}} </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="den in mdays">
                            <td ng-repeat="x in [0, 1, 2, 3, 4, 5, 6]" ng-class="{ 'active': selected == den[x], 'today': dnes(den[x], today.getMonth(), today.getFullYear()) == den[x] }" ng-click="onclickDate(den[x], today.getMonth(), today.getFullYear()); reservationsForCurrentDay();">
                                <a href="" ng-if="filterDay(den[x])" > {{ den[x]}}</a>
                                <a href="" ng-if="!filterDay(den[x])"> </a>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <table ng-show="showSecondTable">
                    <thead>
                        <tr class="mesic">
                            <th colspan="2" ng-click="showMonth()"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></th>
                            <th colspan="4"> {{month[today.getMonth()]}}, {{ firstDayInWeek.getDate() }} - {{ lastDayInWeek.getDate() }}, {{today.getFullYear()}} </th>
                        </tr>
                        <tr>
                            <th class="tydne"></th>
                            <th ng-repeat="cas in [0,1,2,3,4]"> {{ cas+17 }}:00 </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="den in [0,1,2,3,4,5,6]">
                            <td class="tydne"> {{weeks[den]}} </td>
                            <td ng-repeat="cas in [0,1,2,3,4]"> Volno </td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div-->
        <div id="formularBlock" > <!--ng-submit="sendReservation(reservation);"-->
            {{reservation}}
            <form ng-submit="sendReservation(reservation);">
                <!--div class="row">
                    <div class="col-xs-6">
                        <label for="timeFrom" class="sr-only"></label>
                        <select class="form-control" name="cas" id="timeFrom" ng-model="reservation.startTime" ng-change="changeTime();">
                            <option disabled selected value></option>
                            <option ng-repeat="x in [17,18,19,20,21]" value="{{x}}">{{x}}:00</option>
                        </select>
                    </div>
                    <div class="col-xs-6">
                        <label for="timeTo" class="sr-only"></label>
                        <select class="form-control" id="timeTo" name="cas" ng-model="reservation.endTime" ng-change="checkendTime();">
                            <option disabled selected value></option>
                            <option ng-repeat="x in [18,19,20,21,22]" value="{{x}}">{{x}}:00</option>
                        </select>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="sr-only" for="jmenoRez"></label>
                        <input type="text" class="form-control" id="jmenoRez" placeholder="Name">
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="sr-only" for="prijmeniRez"></label>
                        <input type="text" class="form-control" id="prijmeniRez" placeholder="Surname">
                    </div>
                    <div class="form-group col-xs-12">
                        <button class="btn btn-success btn-md btn-block" ng-submit=""> Vytvořit rezervaci </button>
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="tel"> Telefonní číslo </label>
                        <input type="tel" class="form-control" id="tel">
                    </div>
                    <div class="form-group col-xs-6">
                        <label for="email" > Email </label>
                        <input type="email" class="form-control" id="email">
                    </div>
                </div-->



                <div class="row">
                    <table class="table formular" ng-show="winSize>875">
                        <!--tr class="form-group">
                            <td colspan="2">
                                <h4><i> Vybrané datum: {{today.getDate()}}.{{today.getMonth()+1}}.{{today.getFullYear()}} </i></h4>
                                {{reservation}}
                            </td>
                        </tr-->
                        <tr class="form-group">
                            <td>
                                Vyberte datum:
                            </td>
                            <td>
                                <input class="form-control" ng-model="reservation.datum" datetime-picker date-only
                                    date-format="dd.MM.yyyy" future-only ng-click="datepicker()"/>
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td>Čas </td>
                            <td>
                                <div>
                                    <div class="col-xs-6">
                                        <div>
                                            <b> od: </b>
                                        </div>
                                        <div>
                                            <select class="form-control" name="cas" id="timeFrom" ng-model="reservation.startTime" ng-change="changeTime();">
                                                <option disabled selected value></option>
                                                <option ng-repeat="x in [17,18,19,20,21]" value="{{x}}">{{x}}:00</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div>
                                            <b> do: </b>
                                        </div>
                                        <div>
                                            <select class="form-control" id="timeTo" name="cas" ng-model="reservation.endTime" ng-change="checkendTime();">
                                                <option disabled selected value></option>
                                                <option ng-repeat="x in [18,19,20,21,22]" value="{{x}}">{{x}}:00</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td> Jméno: </td>
                            <td>
                                <label class="sr-only" for="jmenoRez"></label>
                                <input type="text" class="form-control" id="jmenoRez" placeholder="Name" ng-model="reservation.jmeno">
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td> Příjmení </td>
                            <td>
                                <label class="sr-only" for="prijmeniRez"></label>
                                <input type="text" class="form-control" id="prijmeniRez" placeholder="Surname" ng-model="reservation.prijmeni">
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td> Telefonní číslo </td>
                            <td>
                                <label class="sr-only" for="tel"></label>
                                <input type="text" class="form-control" id="tel" placeholder="Phone number" ng-model="reservation.tel">
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td> Email </td>
                            <td>
                                <label class="sr-only" for="email"></label>
                                <input type="text" class="form-control" id="email" placeholder="Email" ng-model="reservation.email">
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td colspan="2">
                                <button type="submit" class="btn btn-warning btn-md btn-block"> Vytvořit rezervaci </button>
                            </td>
                        </tr>
                    </table>
                    <table class="table formular" ng-show="winSize<=875">
                        <tr class="form-group">
                            <td>
                                <h4><i> Vybrané datum: {{today.getDate()}}.{{today.getMonth()+1}}.{{today.getFullYear()}} </i></h4>
                                {{reservation}}
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td> Vyberte datum: </td>
                        </tr>
                        <tr>
                            <td> <input class="form-control" ng-model="reservation.datum" datetime-picker date-only
                                        date-format="dd.MM.yyyy" future-only ng-click="datepicker()"/> </td>
                        </tr>
                        <tr class="form-group">
                            <td>Čas </td>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <div class="col-xs-6">
                                        <div>
                                            <b> od: </b>
                                        </div>
                                        <div>
                                            <select class="form-control" name="cas" id="timeFrom" ng-model="reservation.startTime" ng-change="changeTime();">
                                                <option disabled selected value></option>
                                                <option ng-repeat="x in [17,18,19,20,21]" value="{{x}}">{{x}}:00</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div>
                                            <b> do: </b>
                                        </div>
                                        <div>
                                            <select class="form-control" id="timeTo" name="cas" ng-model="reservation.endTime" ng-change="checkendTime();">
                                                <option disabled selected value></option>
                                                <option ng-repeat="x in [18,19,20,21,22]" value="{{x}}">{{x}}:00</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td> Jméno: </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="sr-only" for="jmenoRez"></label>
                                <input type="text" class="form-control" id="jmenoRez" placeholder="Name" ng-model="reservation.jmeno">
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td> Příjmení </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="sr-only" for="prijmeniRez"></label>
                                <input type="text" class="form-control" id="prijmeniRez" placeholder="Surname" ng-model="reservation.prijmeni">
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td> Telefonní číslo </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="sr-only" for="tel"></label>
                                <input type="text" class="form-control" id="tel" placeholder="Phone number" ng-model="reservation.tel">
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td> Email </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="sr-only" for="email"></label>
                                <input type="text" class="form-control" id="email" placeholder="Email" ng-model="reservation.email">
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td>
                                <button type="submit" class="btn btn-warning btn-md btn-block"> Vytvořit rezervaci </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
        <div class="seatingChart">
            <ul>
                <li  ng-repeat="stul in tableObj"  ng-class="stul.table.seatingNum" ng-click="reservation.table=stul.table._id">
                    <input type="checkbox" id="{{stul.table._id}}" class="{{stul.table.seatingNum}}" ng-model="stul.checked" ng-click="updateTables($index, tableObj);"/>
                    <label for="{{stul.table._id}}">{{stul.table.name}}</label>
                </li>
                <li class="bar"> <input type="checkbox"  id="bar"/>
                    <label for="bar"></label>
                </li>
                <li class="door"> <input type="checkbox"  id="door"/>
                    <label for="door"></label>
                </li>
                <li class="wc"> <input type="checkbox"  id="wc"/>
                    <label for="wc"></label>
                </li>
            </ul>
        </div>
    </div>
</div>