<div ng-controller="tablesCtrl">
    <div id="tableArea">
        <div id="calendar" class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
            <pre>Selected date is: {{data | date:'fullDate' }}</pre>
            <div style="display:inline-block; min-width:200px;">
                <uib-datepicker ng-model="data" class="well well-xs" datepicker-options="inlineOptions"></uib-datepicker>
            </div>

            <div>
                <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
            </div>

            <div style="width: 306px">
                <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
            </div>
        </div>
        <div id="restaurantMapId" class="col-lg-7 col-md-7 col-sm-8 col-xs-12">
            <div id="restaurantMapSize">
                <!--img id="restaurantMapImg" src="/public/img/restaurantMap.png" alt="mapa restaurace"-->
                <ul id="listTables">
                    <li  ng-repeat="stul in dataTable" >
                        <input type="checkbox" id="{{stul._id}}" class="{{stul.seatingNum}}"/>
                        <label for="{{stul._id}}">{{stul.name}}</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>