body {
  background-image: url("../img/background.jpg");
}
.contentPublic {
  /*todo depends on footer size*/
  margin-bottom: 20px;
}
/* header style for public page */
.headClass {
  background-color: #ACE1AF;
  height: 130px;
}
.navbar-brand, .navbar-brand:hover, .navbar-brand:active, .navbar-brand:visited {
  color: white;
  font-size: 40px;
  text-decoration: none;
  width: 100%;
  text-align: center;
}
/* footer style for public page */
footer {
  height: 18px;
  background-color: #374b37;
  left: 0;
  bottom: 0;
  width: 100%;
  position: relative;
}
/*@media screen and (min-height: 633px)
and (min-width: 801px) {
  footer {
    position: absolute;
  }
}
/*
@media screen and (max-width: 800px)
and (orientation: landscape) {
  footer {
    height: 18px;
    background-color: #374b37;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
@media screen and (max-width: 800px)
and (min-width: 750px)
and (orientation: portrait) {
  footer {
    height: 18px;
    background-color: #374b37;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
*/

/*public menu page*/
div#menuTabs {
  text-align: center;
}
div#menuTabs nav ul li a:hover, div#menuTabs nav ul li a:active, div#menuTabs nav ul li a:visited, div#menuTabs nav ul li a:link {
  text-decoration: none;
}

/* large desktop */
@media screen and (min-width: 1200px) {
  .flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: auto;
  }
  .flex > div {
    width: 50%;
  }
  /*public home page flexbox */
  .flex > div > img {
    float: right;
  }
  .flex > #textHome {
    margin-left: 23px;
  }
  /* public contact page */
  .flex > div > #map {
    max-width: 600px;
    height: 370px;
    font-weight: 800;
  }
  .flex > div:nth-child(2) {
    text-align: center;
  }
  /*public menu page*/
  div#menuTabs nav ul li {
    display: inline;
    margin-left: 100px;
  }
  div#menuTabs nav ul li a {
    font-size: 18px;
    font-weight: 600;
    border-bottom: 3px #8ABA6E solid;
    color: #8ABA6E;
  }

  div#menuTabs nav ul li a.selected {
    /*color: #374b37;
    border-bottom: 3px #374b37 solid;*/
    background-color: white;

  }
}
/* medium desktop/tablet */
@media screen and (max-width: 1199px) {
  .flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  .flex > div {
    width: 50%;
  }
  /*public home page flexbox */
  .flex > div > img {
    float: right;
    width: 100%;
  }
  .flex > #textHome {
    margin-left: 15px;
  }
  /* public contact page */
  .flex > div:nth-child(2) {
    text-align: center;
  }
  .flex > #mapBlock {
    width: 80%;
  }
  .flex > div > #map {
    max-width: 550px;
    height: 370px;
    margin: auto;
  }

  /*public menu page*/
  div#menuTabs nav ul li {
    display: inline;
    margin-left: 70px;
  }
}

/* small tablet/mobile */
@media screen and (max-width: 800px) {
  .flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .flex > div {
    width: 73%;
    margin: auto;
  }
  /* public contact page */
  .flex > div:nth-child(2) {
    text-align: center;
  }
  .flex > #mapBlock {
    width: 100%;
  }
  .flex > div > #map {
    width: 90%;
    height: 370px;
    margin: auto;
  }
  /*public menu page*/
  div#menuTabs nav ul li {
    display: inline;
    margin-left: 40px;
  }
}
/* extra small mobile*/
@media screen and (max-width: 400px) {
  .flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .flex > div {
    width: 95%;
    margin: auto;
  }
  /* public contact page */
  .flex > div:nth-child(2) {
    text-align: center;
  }
  .flex > #mapBlock {
    width: 100%;
  }
  .flex > div > #map {
    width: 95%;
    height: 370px;
    margin: auto;
  }

  /*public menu page*/
  div#menuTabs nav ul li {
    display: block;
    line-height: 30px;
  }
}

/*
div.navbar-collapse.collapse {
  input for search in menu -----
  display: block;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: max-height .3s ease;
  -moz-transition: max-height .3s ease;
  -o-transition: max-height .3s ease;
  transition: max-height .3s ease;
}

div.navbar-collapse.collapse.in {
  max-height: 2000px;
}

div.navbar-header {
  text-align: center;
}
header .navbar {
  background-color: white;
}
header .navbar-fixed-top {
  background-color: #ACE1AF;
  background: rgba(172, 225, 175, 0.9);

}
header .navbar .collapse ul li a {
  color: #567456;
}
header .navbar-fixed-top .collapse ul li a {
  color: white;
  font-weight: 600;
}

/*#map {
  height: 500px;
  width:550px;
}*
#contactId .col-md-8 #map{
  width: 80%;
  margin: auto;
  height: 500px;
  width: 550px;
}



#imgHome {
  background-image: url("../img/vegExampleHome.jpg");
  width: 454px;
  height: 680px;
  float: left;
}
#textHome {
  width: 900px;
}

div.col-sm-12 .col-xs-12 {
  width: 100%;
}
div div#menuId div#menuStyle {
  text-align: center;
  font-style: italic;
  font-size: 150%;
}
div div#tableArea {
  margin: auto;
}
div div#tableArea div#restaurantMapId div#restaurantMapSize {
  background-image: url("../img/restaurantMap.png");
  background-repeat:no-repeat;
  background-size:contain;
  height: 533px;
  width: 339px;
}
div div#tableArea div#calendar div .well.well-sm {
  width: 200px;
}
div div#tableArea div img {
  position: absolute;
}
div div#tableArea div#restaurantMapId div#restaurantMapSize ul#listTables li {
  list-style: none;
}
div div#tableArea div#restaurantMapId div#restaurantMapSize ul#listTables li input[type="checkbox"]  {
  display: none;
}
div div#tableArea div#restaurantMapId div#restaurantMapSize ul#listTables li .four + label  {
  background-image: url("../img/table_four_xs2.png");
  height: 43px;
  width: 67px;
}
div div#tableArea div#restaurantMapId div#restaurantMapSize ul#listTables li .four:checked + label  {
  background-image: url("../img/table_four_xs_selected.png");
}
div div#tableArea div#restaurantMapId div#restaurantMapSize ul#listTables li .two + label  {
  background-image: url("../img/table_two_xs2.png");
  height: 51px;
  width: 43px;

}
div div#tableArea div#restaurantMapId div#restaurantMapSize ul#listTables li .two:checked + label  {
  background-image: url("../img/table_two_xs_selected.png");
}
div div#tableArea div#restaurantMapId div#restaurantMapSize ul#listTables li label  {
  position: relative;

}
div div#menuId ul#publicMenu {

}
div div#menuId ul#publicMenu li{
  list-style: none;
  text-align: center;
}
div div#menuId ul#publicMenu li div.menuTrida {
  font-size: 160%;
  color: #374b37;
  font-style: italic;
  font-weight: 600;
}
div div#menuId ul#publicMenu li ul li {
  font-size: 130%;
}