body {
  background-image: url("../img/background.jpg");
}
.contentPublic {
  /*todo depends on footer size*/
  margin-bottom: 20px;
}
/* header style for public page */
.headClass {
  background-color: #555;
  /*ACE1AF*/
  height: 130px;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:active, .navbar-brand:visited {
  color: white;
  font-size: 40px;
  text-decoration: none;
  width: 100%;
  text-align: center;
}
/* footer style for public page */
footer {
  height: 18px;
  background-color: #374b37;
  left: 0;
  bottom: 0;
  width: 100%;
  position: relative;
  /* todo visible footer*/
  visibility: hidden;
}
/*@media screen and (min-height: 633px)
and (min-width: 801px) {
  footer {
    position: absolute;
  }
}
/*
@media screen and (max-width: 800px)
and (orientation: landscape) {
  footer {
    height: 18px;
    background-color: #374b37;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
@media screen and (max-width: 800px)
and (min-width: 750px)
and (orientation: portrait) {
  footer {
    height: 18px;
    background-color: #374b37;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
*/

/*public menu page*/
#menuMainBlock {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: center;
}
#menuTabs {
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0.7);
}
div#menuTabs nav div a:hover, div#menuTabs nav div a:active, div#menuTabs nav div a:visited, div#menuTabs nav div a:link {
  text-decoration: none;
  color: black;
}
.menuList ul, .menuList li ul {
  list-style: none;
}
#menuTabs nav div {
  /*background-color: #b9f6ca;*/
  width: 100%;
  padding: 10px;
}
#menuTabs nav div:hover {
  background-color: #f5f5f5;
}
#menuTabs nav div.active {
  background-color: rgba(76, 175, 80, 0.2);
}
#calendar div table {
  margin: 0 auto;
  margin-top: 25px;
  font-weight: 600;
  border: 1px solid #31443e;
}
#calendar div div:last-child {
  margin: 0 auto;
  text-align: center;
}
#calendar div table {
  background-color: #f7f7f7;
}
#calendar table thead tr.tydne {
  background-color: white;
}
#calendar div table tbody tr:not(:last-child) td {
  border-bottom: 1px solid #d3d0c1;
}
#calendar div table thead .mesic  {
  text-align: center;
  color: white;
  border: 1px solid #31443e;
  background-color: #31443e;

  /*background-color: rgba(76, 175, 80, 0.61);
  /*background: -webkit-linear-gradient(rgba(76, 175, 80, 0.59), rgba(107, 255, 111, 0.12)); /* For Safari 5.1 to 6.0 *
  background: -o-linear-gradient(rgba(76, 175, 80, 0.59), rgba(107, 255, 111, 0.12)); /* For Opera 11.1 to 12.0 *
  background: -moz-linear-gradient(rgba(76, 175, 80, 0.59), rgba(107, 255, 111, 0.12)); /* For Firefox 3.6 to 15 *
  background: linear-gradient(rgba(76, 175, 80, 0.59), rgba(107, 255, 111, 0.12));*/
}
#calendar div table thead tr th {
  text-align: center;
}
#calendar div table tr td a:hover, #calendar table tr td a:visited, #calendar table tr td a:link, #calendar table tr td a {
  text-decoration: none;
  color: black;
}
#calendar div table tr th a:hover, #calendar table tr th a:visited, #calendar table tr th a:link, #calendar table tr th a {
  text-decoration: none;
  color: white;
}
#calendar div table tr td.active {
  background-color: rgba(157, 236, 181, 1) !important;
  border-radius: 15px;
}
#calendar div table tr td.today {
  background-color: rgba(207, 211, 196, 0.9);
  border-radius: 15px;
}
#calendar div table:first-child tr td:hover {
  background-color: #e5e5e5;
  border-radius: 15px;
}

#loginSelection #loginBlock form div h3 a:hover, #loginSelection #loginBlock form div h3 a:visited, #loginSelection #loginBlock form div h3 a:link, #loginSelection #loginBlock form div h3 a {
  text-decoration: none;
  color: black;
}
section {
  width: 100%;
  height: 100vh;
}
section #loginSelection {
  display: flex;
  height: 100%;
  flex-direction: column;
}
section #loginSelection > #loginBlock {
  margin: auto;
}
/* TODO if map is image */
/*#tablesImg {
  width: 100%;
}
#tablesImg div {
  position: relative;
  width: 390px;
  height: 600px;
  margin: auto;
}
#tablesImg div > img {
  position: absolute;
  left: 0px;
  width: 389px;
  max-height: 100%;
  z-index: -1;
}
#tablesImg div ul li input[type=checkbox] {
  display: none;
}
#tablesImg div ul li {
  list-style: none;
  display: inline;
  position: absolute;
}
#tablesImg div ul li.four input[type=checkbox] + label {
  background-image: url("../img/table_four_xs2.png");
  height: 43px;
  width: 67px;
}
#tablesImg div ul li.two input[type=checkbox] + label {
  background-image: url("../img/table_two_xs2.png");
  height: 51px;
  width: 43px;
}
#tablesImg div ul li.four input:checked + label  {
  background-color: #f2e1ff;
}
#tablesImg div ul li.two input:checked + label  {
  background-color: #fffec1;
}
#tablesImg div ul li:first-child {
  top: 20px;
  left: 80px;
}
#tablesImg div ul li:nth-child(2) {
  top: 20px;
  left: 160px;
}
#tablesImg div ul li:nth-child(3) {
  top: 20px;
  left: 240px;
}
#tablesImg div ul li:nth-child(4) {
  top: 50px;
  left: 340px;
}
#tablesImg div ul li:nth-child(5) {
  top: 115px;
  left: 340px;
}
#tablesImg div ul li:nth-child(12) {
  top: 360px;
  left: 340px;
}
#tablesImg div ul li:nth-child(13) {
  top: 420px;
  left: 340px;
}
#tablesImg div ul li:nth-child(14) {
  top: 480px;
  left: 340px;
}
#tablesImg div ul li:nth-child(6) {
  top: 150px;
  left: 140px;
}
#tablesImg div ul li:nth-child(7) {
  top: 150px;
  left: 220px;
}
#tablesImg div ul li:nth-child(8) {
  top: 300px;
  left: 80px;
}
#tablesImg div ul li:nth-child(9) {
  top: 360px;
  left: 160px;
}
#tablesImg div ul li:nth-child(10) {
  top: 420px;
  left: 160px;
}
#tablesImg div ul li:nth-child(11) {
  top: 480px;
  left: 160px;
}
/* TODO konec ________*/


/* large desktop */
@media screen and (min-width: 1200px) {
  .flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: auto;
  }
  .flex > div {
    width: 50%;
  }
  /*public home page flexbox */
  .flex > div > img {
    float: right;
  }
  /* public contact page */
  .flex > div > #map {
    max-width: 600px;
    height: 370px;
    font-weight: 800;
  }
  .flex > div:nth-child(2) {
    text-align: center;
  }
  /*public menu page*/
  #menuTabs {
    width: 75%;
    display: inline-flex;
    text-align: center;
  }
  #menuTabs nav {
    border-right: 1px solid;
  }
  #menuTabs nav div {
    padding: 15px;
  }
  /* public reservation page*/
  #calendar div table {
    width: 320px;
    height: 320px;
  }
  #tables #imgMap {
    background: url("../img/restaurantMap.png") no-repeat center center;
    width: 490px;
    height: 780px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  #calendar div table tbody tr td{
    text-align: center;
    padding: 10px;
  }
  #calendar div table thead .mesic th {
    padding: 15px;
  }
  /* login page*/
  #loginBlock {
    background-color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 7px;
    padding-top: 7px;
    border: 2px solid #a6a6a6;
  }
}
/* medium desktop/tablet */
@media screen and (max-width: 1199px) {
  .flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  .flex > div {
    width: 50%;
  }
  /*public home page flexbox */
  .flex > div > img {
    float: right;
    width: 100%;
  }
  .flex > #textHome {
    margin-left: 15px;
  }
  /* public contact page */
  .flex > div:nth-child(2) {
    text-align: center;
  }
  .flex > #mapBlock {
    width: 80%;
  }
  .flex > div > #map {
    max-width: 550px;
    height: 370px;
    margin: auto;
  }
  /*public menu page*/
  #menuTabs {
    width: 83%;
    display: inline-flex;
  }
  .menuList ul {
    padding: 0;
    text-align: center;
  }
  #menuTabs {
    text-align: center;
  }
  #menuTabs nav {
    border-right: 1px solid;
  }
  #menuTabs nav div {
    padding: 15px;
  }
  /* public reservation page*/
  #calendar div table {
    width: 320px;
    height: 320px;
  }
  #tables #imgMap {
    background: url("../img/restaurantMap.png") no-repeat center center;
    width: 390px;
    height: 650px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  #calendar div table tbody tr td{
    text-align: center;
    padding: 10px;
  }
  #calendar div table thead .mesic th {
    padding: 15px;
  }
  /* login page*/
  #loginBlock {
    background-color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 7px;
    padding-top: 7px;
    border: 2px solid #a6a6a6;
  }
}

/* small tablet/mobile */
@media screen and (max-width: 800px) {
  .flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .flex > div {
    width: 73%;
    text-align: center;
  }
  .flex #imgHome, .flex #textHome {
    margin: auto;
  }
  /* public contact page */
  .flex > div:nth-child(2) {
    text-align: center;
  }
  .flex > #mapBlock {
    width: 100%;
  }
  .flex > div > #map {
    width: 90%;
    height: 370px;
    margin: auto;
  }
  /*public menu page*/
  #menuTabs {
    width: 80%;
    display: block;
    text-align: center;
  }
  #menuTabs nav {
    border-bottom: 1px solid;
  }
  #menuTabs nav div {
    padding: 10px;
  }
  /* public reservation page*/
  #calendar, #tables {
    width: 100%;
  }
  #calendar div table {
    width: 320px;
    height: 320px;
    margin: auto;
  }
  #tables #imgMap {
    background: url("../img/restaurantMap.png") no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 696px;
    width: 100%;
    margin: auto;
  }
  #calendar div table tbody tr td{
     text-align: center;
     padding: 10px;
   }
  #calendar div table thead .mesic th {
    padding: 15px;
  }
  /* login page*/
  #loginBlock {
    background-color: white;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 7px;
    padding-top: 7px;
    border: 2px solid #a6a6a6;
  }
}
/* extra small mobile*/
@media screen and (max-width: 400px) {
  .flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .flex > div {
    width: 95%;
    margin: auto;
  }
  /* public contact page */
  .flex > div:nth-child(2) {
    text-align: center;
  }
  .flex > #mapBlock {
    width: 100%;
  }
  .flex > div > #map {
    width: 95%;
    height: 370px;
    margin: auto;
  }

  /*public menu page*/
  #menuTabs {
    width: 96%;
    display: block;
    text-align: center;
  }
  #menuTabs nav {
    border-bottom: 1px solid;
  }
  #menuTabs nav div {
    padding: 10px;
  }
  /* public reservation page*/
  #calendar, #tables {
    width: 100%;
  }
  #calendar div table, #calendar div table:nth-child(2) {
    width: 300px;
    height: 320px;
    padding: 0px;
    margin: auto;
  }
  #calendar div table tbody tr td{
    text-align: center;
    font-size: 10px;
    padding: 10px;
  }
  #calendar div table thead .mesic th {
    padding: 10px;
  }
  #tablesImg {
    width: 100%;
  }
  #tablesImg div {
    position: relative;
    width: 319px;
    height: 550px;
    margin: auto;
  }
  #tablesImg div > img {
    position: absolute;
    left: 0px;
    width: 318px;
    max-height: 100%;
    z-index: -1;
  }
  #tablesImg div ul li.four input[type=checkbox] + label {
    background-image: url("../img/table_four_xs2.png");
    height: 23px;
    width: 47px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #tablesImg div ul li.two input[type=checkbox] + label {
    background-image: url("../img/table_two_xs2.png");
    height: 31px;
    width: 23px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #tablesImg div ul li:first-child {
    top: 20px;
    left: 60px;
  }
  #tablesImg div ul li:nth-child(2) {
    top: 20px;
    left: 130px;
  }
  #tablesImg div ul li:nth-child(3) {
    top: 20px;
    left: 200px;
  }
  #tablesImg div ul li:nth-child(4) {
    top: 40px;
    left: 270px;
  }
  #tablesImg div ul li:nth-child(5) {
    top: 95px;
    left: 270px;
  }
  #tablesImg div ul li:nth-child(12) {
    top: 320px;
    left: 270px;
  }
  #tablesImg div ul li:nth-child(13) {
    top: 370px;
    left: 270px;
  }
  #tablesImg div ul li:nth-child(14) {
    top: 420px;
    left: 270px;
  }
  #tablesImg div ul li:nth-child(6) {
    top: 130px;
    left: 100px;
  }
  #tablesImg div ul li:nth-child(7) {
    top: 130px;
    left: 160px;
  }
  #tablesImg div ul li:nth-child(8) {
    top: 250px;
    left: 50px;
  }
  #tablesImg div ul li:nth-child(9) {
    top: 320px;
    left: 130px;
  }
  #tablesImg div ul li:nth-child(10) {
    top: 370px;
    left: 130px;
  }
  #tablesImg div ul li:nth-child(11) {
    top: 420px;
    left: 130px;
  }
  /* login page*/
  #loginBlock {
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 60px;
    padding-top: 60px;
    border: 2px solid #a6a6a6;
  }
}





/*__________ADMIN_________________*/

html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
}
.contentAdmin {
  display: flex;
  margin-bottom: -80px;
}
.contentAdmin table:not(.calendar) {
  background-color: white;
  margin-bottom: 30px;
}
.contentAdmin table.calendar tr:not(.tydne) {
  background-color: white;
}
.navbar-fixed-top {
  min-height: 30px;
  max-height: 70px;
  background-color: #555/*#99cc99*/;
  display: -webkit-flex;
  display: flex;
}
.navbar-fixed-top ul > li > a > div, .navbar-fixed-left ul > li > a > div {
  display: inline;
}
.navbar-fixed-top div ul > li > a {
  min-height: 20px;
  padding: 5px !important;
  padding-right: 10px !important;
}
.navbar-fixed-left {
  position: fixed;
  top: 0px;
  border-radius: 0;
  background-color: #ACE1AF;
  height: 100vh;
}
.navbar-fixed-left ul.nav.navbar-nav {
  margin-top: 30px;
}
.navbar-fixed-left .nav.navbar-nav li {
  left: 50%;
  transform: translate(-50%, 0);
  border-bottom: 1px solid white;
  width: 100%;
  height: 100%;
}
.navbar-fixed-top div.navbar-header a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 10px;
  font-size: larger;
}
.navbar-fixed-left .navbar-nav li a, .navbar-fixed-top div .nav.navbar-nav li a {
  color: white;
}
.navbar-fixed-top div ul li {
  list-style: none;
  display: inline;
}
.navbar-fixed-top div ul {
  display: table-cell;
}
.navbar-fixed-top div ul:last-child {
  float: right;
  margin-right: 5px;
}
.navbar-fixed-top div ul:last-child li {
  display: table-cell;
}
.navbar-fixed-top div ul:first-child {
  float: left;
  margin-left: 20px;
  margin-top: -5px;
}
/*.nav.nav-pills li a {
  color: #51695a;
}
.nav.nav-pills li.active a {
  background-color: transparent;
  color: #51695a;
  font-weight: 600;
}
.nav.nav-pills li.active {
  border-bottom: 2px solid #51695a;
}*/

.tabContent {
  -webkit-animation: fadeEffect 0.7s;
  animation: fadeEffect 0.7s;
}
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
@-webkit-keyframes fadeBorder {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeBorder {
  0% { border-bottom: transparent; }
  100% { border-bottom: 2px solid #31443e;}
}
.tabset ul.tabs li.active {
  border-bottom: 2px solid #31443e;
  -webkit-animation: fadeBorder 0.5s;
  animation: fadeBorder 0.5s;
}
div.tabset ul.tabs li {
  list-style: none;
  display: inline-flex;
}
div.tabset ul.tabs li a {
  color: #31443e;
  text-decoration: none;
  font-size: larger;
  font-weight: 600;
  padding: 10px;
}
.smallTableBlock{
  margin-top: 10px;
  width: 100%;
}
.smallTable {
  border: 1px solid #999999;
  border-bottom: transparent !important;
  text-align: center;
  margin: auto;
}
.smallTable tr {
  border-bottom: 1px solid #999;
  margin-bottom: 100px;
}
.smallTable tr td {
  padding-top: 5px;
  padding-bottom: 5px;
}
.smallTable:last-child {
  border-bottom: 1px solid #999 !important;
  margin-bottom: 15px;
}
.smallTableBlock div.btn-group {
  text-align: center;
  padding-bottom: 10px;
  margin: auto;
}
.smallTableBlock div.btn-group .btn-success {
  display: block;
  margin: 0 auto;
}
div.tabset ul.tabs {
  margin-left: 0px;
  padding: 0px;
}
div.tabset ul.tabs {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
}

/*_________reservations__________*/
.contentAdmin div {
  width: 100%;
}
#reservationBlock {
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
#reservationBlock table  {
  border: 1px solid black;
}
#reservationBlock table tr.tydne th {
  text-align: center;
}
#reservationBlock table, #reservationBlock div table:nth-child(2) {
  width: 300px;
  height: 320px;
  padding: 0px;
  margin: auto;
}
#reservationBlock table tbody tr td{
  text-align: center;
  font-size: 13px;
  padding: 10px;
}
#reservationBlock table thead .mesic th {
  padding: 10px;
  text-align: center;
}
/*#reservationBlock table {
  margin: auto;
}
#reservationBlock table tr td:first-child {
  border-right: 1px solid black;
}
#reservationBlock table thead tr td:last-child {
  display: table;
  width: 100%;
}
#reservationBlock table thead tr td div {
  display: table-cell;
  width: calc(100%/9);
}
#reservationBlock table tr td div.active {
  background-color: yellow;
}
#reservationBlock table thead tr td div:hover {
  background-color: #bababa;
}
#reservationBlock table tr td {
  vertical-align: middle;
  text-align: center;
}
#monthReservation {
  background-color: #555;
  color: white;
  height: 40px;
  vertical-align: middle;
}
#reservationBlock table tr td div {
  display: table-cell;
  height: 100%;
}*/

.seatingChart {
  width: 300px !important;
  margin: auto;
  height: 450px;
  border: 1px solid #999;
  background-color: #eee;
  position: relative;
}
.seatingChart ul li {
  list-style: none;
  padding: 0px;
  margin-left: -30px;
}
.seatingChart ul li input[type=checkbox] {
  display: none;
}
.seatingChart ul li.bar input[type=checkbox] + label {
  background-image: url("../img/seatingChart/bar.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 163px;
  top: -40px;
  margin: auto;
  position: relative;
}
.seatingChart ul li.two input[type=checkbox] + label {
  background-image: url("../img/seatingChart/two.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  position: relative;
}
.seatingChart ul li.four input[type=checkbox] + label {
  background-image: url("../img/seatingChart/four.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 100px;
  position: relative;
}
.seatingChart ul li.six input[type=checkbox] + label {
  background-image: url("../img/seatingChart/six.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
  position: absolute;
}
.seatingChart ul li:nth-child(8) input[type=checkbox] + label {
  top: -20px;
  left: 120px;
}
.seatingChart ul li:nth-child(5) input[type=checkbox] + label {
  top: 145px;
  left: -125px;
}
.seatingChart ul li:nth-child(7) input[type=checkbox] + label {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  left: 115px;
  top: -73px;
}
.seatingChart ul li:nth-child(6) input[type=checkbox] + label {
  top: 30px;
}
.seatingChart ul li:nth-child(4) input[type=checkbox] + label {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  left: -125px;
  top: 93px;
}
.seatingChart ul li:nth-child(3) input[type=checkbox] + label {
  top: 40px;
  left: 120px;
}
.seatingChart ul li:nth-child(2) input[type=checkbox] + label {
  top: 5px;
  left: 70px;
}
.seatingChart ul li:nth-child(1) input[type=checkbox] + label {
  top: 85px;
  left: 100px;
}
/* _________responsitive_________ */

@media screen and (min-width: 1200px) {
  .navbar-fixed-top {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .navbar-fixed-top div {
    width: 50%;
  }
  .navbar-fixed-left {
    max-width: 250px;
  }
  .contentAdmin {
    margin-left: 260px;
    margin-top: 35px;
    width: calc(100vw - 275px);
  }
  #reservationBlock div {
    width: 50%;
  }
  #reservationBlock div:first-child table {
    float: right;
    margin-right: 40px;
  }
  #reservationBlock div:last-child {
    float: left;
  }
  #reservationBlock table {
    width: 285px;
    margin: auto;
    margin-bottom: 13px;
  }
}
@media screen and (max-width: 1199px) {
  .navbar-fixed-top {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .navbar-fixed-top div {
    width: 50%;
  }
  .navbar-fixed-left {
    max-width: 200px;
  }
  .contentAdmin {
    margin-left: 210px;
    margin-top: 35px;
    width: calc(100vw - 225px);
  }
  #reservationBlock div {
    width: 50%;
  }
  #reservationBlock div:first-child table {
    float: right;
    margin-right: 40px;
  }
  #reservationBlock div:last-child {
    float: left;
  }
  #reservationBlock table {
    width: 285px;
    margin: auto;
    margin-bottom: 13px;
  }
  .seatingChart {
    width: 300px !important;
    margin: auto;
    height: 450px;
  }
}
@media screen and (max-width: 875px) {
  #reservationBlock div {
    width: 100%;
  }
  #reservationBlock table, #reservationBlock div div {
    float: none !important;
    margin: auto !important;
  }
  #reservationBlock table {
    width: 285px;
  }
  #reservationBlock div:first-child {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 768px) {
  .navbar-fixed-top {
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .navbar-fixed-top div {
    width: 100%;
  }
  .navbar-fixed-left {
    width: 200px !important;
  }
  .navbar-fixed-left ul li, .navbar-fixed-left ul li a {
    width: 200px !important;
  }
  .navbar-fixed-left ul.nav.navbar-nav {
    margin-top: 80px;
  }
  .contentAdmin {
    margin-top: 70px;
    margin-left: 210px;
    width: calc(100vw - 225px);
  }
  .smallScreen {
    margin-left: 5px !important;
    width: 100vw;
  }
  .smallTable {
    width: 76%;
  }
  .contentAdmin div form {
    width: 100vw;
  }
  div.tabset ul.tabs {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
  }
  #reservationBlock div {
    width: 100%;
  }
  #reservationBlock table {
    width: 285px;
    margin: auto;
    margin-bottom: 13px;
  }
}
@media screen and (max-width: 400px) {
  .navbar-fixed-top {
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .navbar-fixed-top div {
    width: 100%;
  }
  .navbar-fixed-left {
    width: 200px !important;
  }
  .navbar-fixed-left ul li, .navbar-fixed-left ul li a {
    width: 200px !important;
  }
  .contentAdmin {
    margin-top: 70px;
    margin-left: 205px;
    width: calc(100vw - 205px);
  }
  .smallScreen {
    margin-left: 5px !important;
    width: 100vw;
  }
  .smallTable {
    width: 90%;
  }
  div.tabset ul.tabs li {
    display: block;
    width: 55%;
    margin: auto;
    padding: 7px;
    text-align: center;
  }
  #reservationBlock {
    width: 100%;
  }
  #reservationBlock table {
    width: 285px;
    margin: auto;
    margin-bottom: 13px;
  }
  .seatingChart {
    width: 296px!important;
  }
}