doctype html
html(data-ng="http://angularjs.org", lang="en" data-ng-app='veganapp')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="icon" href="http://localhost:3000/img/favicon.png" type="image/png")
    include links

  body(data-ng-controller='contentCtrl')
    div(data-ui-view="main")
