//script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js")
//TODO links from bower_components
script(src="/bower_components/jquery/dist/jquery.js")
link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-route.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-resource.js")
script(src="/bower_components/angular-route/angular-route.min.js")
script(src="/bower_components/angular-ui-router.stateHelper/statehelper.min.js")
link(rel="stylesheet" type="text/css" href='/css/style.css')
link(rel="stylesheet" type="text/css" href="/css/imgGalery.css")

script(src="/js/system.js")
script(src="/js/app.js")
script(src="/js/public/route.js")
script(src="/js/public/controllers/homeCtrl.js")
script(src="/js/public/controllers/contactCtrl.js")
script(src="/js/public/controllers/menuCtrl.js")
//script(src="/js/public/controllers/____orderCtrl.js")
script(src="/js/public/controllers/tablesCtrl.js")
script(src="/js/public/services/table.js")
script(src="/js/public/services/menu.js")
script(src="/bower_components/angular-bootstrap/ui-bootstrap.js")
script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js")

link(rel="stylesheet" type="text/css" href="/css/styleAdmin.css")

script(src="/js/admin/route.js")
script(src="/js/admin/controllers/loginCtrl.js")
script(src="/js/admin/controllers/homeCtrl.js")
script(src="/js/admin/controllers/headCtrl.js")
script(src="/js/admin/controllers/menuCtrl.js")
script(src="/js/admin/controllers/userCtrl.js")
script(src="/js/admin/controllers/usersCtrl.js")
script(src="/js/admin/controllers/dailyMenuCtrl.js")
script(src="/js/admin/controllers/reservationCtrl.js")
script(src="/js/admin/controllers/editCtrl.js")
script(src="/js/admin/services/menu.js")
script(src="/js/admin/services/dailyMenu.js")
//TODO change path
script(src="/js/authProvider.js")
