<div ng-app="admin">
    <header ng-controller="headCtrl">
        <nav class="navbar navbar-default navbar-fixed-left" role="navigation">
            <div class="navbar-header">
                <a ui-sref="public.home" class="navbar-brand">Veganska Restaurace</a>
            </div>
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="admin.home">
                        <div class="spanClass">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="nameClass">Username </div>
                    </a>
                </li>
                <li>
                    <a ui-sref="admin.home">
                        <div class="spanClass">
                            <span class="glyphicon glyphicon-log-out"></span>
                        </div>
                        <div class="nameClass">Logout </div>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="admin.home">
                        <div class="spanClass">
                            <span class="glyphicon glyphicon-home"></span>
                        </div>
                        <div class="nameClass">Home </div>
                    </a>
                </li>
                <li>
                    <a ui-sref="admin.menu">
                        <div class="spanClass">
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </div>
                        <div class="nameClass">Jidelni listek</div>
                    </a>
                </li>
                <li>
                    <a ui-sref="admin.dailyMenu">
                        <div class="spanClass">
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </div>
                        <div class="nameClass">Poledni menu</div>
                    </a>
                </li>
                <li>
                    <a ui-sref="admin.reservation">
                        <div class="spanClass">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="nameClass">Rezervace stolu</div>
                    </a>
                </li>
                <li>
                    <a ui-sref="admin.users">
                        <div class="spanClass">
                            <span class="glyphicon glyphicon-user"></span>
                        </div>
                        <div class="nameClass">Uzivatele </div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <section ui-view="admin">

    </section>
</div>
