<div ng-controller="homeCtrlA">
    <div id="flex" class="dashboardClass">
        <div id="dashboard">
            <div id="personalBlock">
                <div>
                    <table class="table">
                        <thead>
                        <tr>
                            <td><h3> {{ me.jm }} {{me.prijm}} </h3></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <b>Tel. číslo: &nbsp;</b>
                                {{ me.phone }}
                            </td>
                        </tr>
                        <tr ng-show="!dis">
                            <td>
                                <b>Změna tel.č. &nbsp;</b>
                                <div class="form-group" >
                                    <label for="tel"></label>
                                    <input type="text" class="form-control" id="tel" ng-model="me.phone">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <b>Email: &nbsp;</b>
                                {{ me.email }}
                            </td>
                        </tr>
                        <tr  ng-show="!dis">
                            <td>
                                <b>Změna email: &nbsp;</b>
                                <div class="form-group">
                                    <label for="email"></label>
                                    <input type="text" class="form-control" id="email" ng-model="me.email">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><br>
                                Posílat informací o nových <br>rezervacích na email
                                <input type="checkbox" ng-model="me.emailMTmp" ng-disabled="dis">
                            </td>
                        </tr>
                        <tr class="zprava" ng-show="message">
                            <td>{{message}}</td>
                        </tr>
                        <tr  ng-show="!dis">
                            <td>
                                <b>Zadejte své heslo: &nbsp;</b>
                                <div class="form-group">
                                    <label for="passwS"></label>
                                    <input type="password" class="form-control" id="passwS" ng-model="me.passwStare">
                                </div>
                            </td>
                        </tr>
                        <tr  ng-show="!dis">
                            <td>
                                <b>Zadejte nové heslo: &nbsp;</b>
                                <div class="form-group">
                                    <label for="passwN"></label>
                                    <input type="password" class="form-control" id="passwN" ng-model="me.passwNove">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5 ng-hide="!dis">
                                    <button class="btn btn-default btn-sm" ng-click="dis=false;"> Změna údajů </button>
                                </h5>
                                <h5 ng-show="!dis" class="btn-group">
                                    <button class="btn btn-warning btn-md" ng-click="send(me.id, me);"> Uložit </button>
                                    <button class="btn btn-warning btn-md" ng-click="zrusit()"> Zrušit </button>
                                </h5>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="statistic">
                <div>
                    <h1>{{rezervace}}</h1>
                    <h6>Počet rezervací na dnešní den</h6>
                </div>
            </div>

            <!--div>
                <canvas id="chart" class="chart" width="400px" height="240px"></canvas>
            </div-->
        </div>
    </div>
</div>