<div ng-controller="homeCtrl" id="homeAdmin">
    <!--div id="left">
        <div id="leftNavSize">
            <span id="spanMenuAdmin" onclick="divMenuAdmin()"></span>
        </div>
        <div id="leftNav">
            <ul class=" nav nav-stacked affix" id="ulMenu">
                <li><a href="/"><span class="glyphicon glyphicon-home">Vegan restaurant</span><div class="nameMenu"></div></a></li>
                <li><a ui-sref="/home"> <span class="glyphicon glyphicon-home"></span><div class="nameMenu"></div></a></li>
                <li><a ui-sref="/home"> <span class="glyphicon glyphicon-home"></span><div class="nameMenu"></div></a></li>
                <li><a ui-sref="/users"><span class="glyphicon glyphicon-user"></span><div class="nameMenu"></div></a></li>
                <li><a ui-sref="/menu"><span class="glyphicon glyphicon-menu-hamburger"></span><div class="nameMenu"></div></a></li>

            </ul>
        </div>
    </div-->
    <div id="right">
        <p> {{ test }}</p>
        <p>This is blabla a template___{{ menuWidth }}___ for a simple marketing or informational website. It
            includes a large callout called the hero unit and three supporting pieces
            of content. Use it as a starting point to create something more unique.This is a template for a simple marketing or informational website. It
            includes a large callout called the hero unit and three supporting pieces
            of content. Use it as a starting point to create something more unique.</p>

        <p>This is a template for a simple marketing or informational website. It
            includes a large callouThis is a template for a simple marketing or informational website. It
        includes a large callout called the hero unit and three supporting pieces
        of content. Use it as a starting point to create something more unique.t called the hero unit and three supporting pieces
            of content. Use it as a starting point to create something more unique.</p>

        <p>This is a template for a simple marketing or informational website. It
            includes a large callout This is a template for a simple marketing or informational website. It
        includes a large callout called the hero unit and three supporting pieces
        of content. Use it as a starting point to create something more unique.This is a template for a simple marketing or informational website. It
        includes a large callout called the hero unit and three supporting pieces
        of content. Use it as a starting point to create something more unique.called the hero unit and three supporting pieces
            of content. Use it as a starting point to create something more unique.</p>

        <p>This is a template for a simple marketing or informational website. It
            includes a large callout called the hero unit and three supporting pieces
            of content. Use it as a starting point to create something more unique.</p>

        <p>This is a template for a simple marketing or informational website. It
            includes a large callout called This is a template for a simple marketing or informational website. It
        includes a large callout called the hero unit and three supporting pieces
        of content. Use it as a starting point to create something more unique.This is a template for a simple marketing or informational website. It
        includes a large callout called the hero unit and three supporting pieces
        of content. Use it as a starting point to create something more unique.the hero unit and three supporting pieces
            of content. Use it as a starting point to create something more unique.</p>

        <p>This is a template for a simple marketing or informational website. It
            includes a large callout called theThis is a template for a simple marketing or informational website. It
        includes a large callout called the hero unit and three supporting pieces
        of content. Use it as a starting point to create something more unique. hero unit and three supporting pieces
            of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-success btn-lg">Learn more »</a>
    </div>
</div>