<div id="left">
    <div id="leftNavSize">
        <span id="spanMenuAdmin" onclick="divMenuAdmin()"></span>
    </div>
    <div id="leftNav">
        <ul class=" nav nav-stacked affix" id="ulMenu">
            <li><a href="/"><span class="glyphicon glyphicon-home"></span><div class="nameMenu">Vegan restaurant</div></a></li>
            <li><a ui-sref="/home"> <span class="glyphicon glyphicon-home"></span><div class="nameMenu"></div></a></li>
            <li><a ui-sref="/home"> <span class="glyphicon glyphicon-home"></span><div class="nameMenu"></div></a></li>
            <li><a ui-sref="/users"><span class="glyphicon glyphicon-user"></span><div class="nameMenu"></div></a></li>
            <li><a ui-sref="/menu"><span class="glyphicon glyphicon-menu-hamburger"></span><div class="nameMenu"></div></a></li>

        </ul>
    </div>
</div>