<section  ng-app="admin" ui-view="login" >
    <div id="loginSelection">
        <div id="loginBlock" ng-controller="loginCtrl">
            <form ng-submit="login()">
                <div class="form-group">
                    <h3><a ui-sref="public.home">Veganská restaurace</a></h3>
                    <h5>Přístup do administračního rozhraní</h5>
                </div>
                <div class="form-group">
                    <label for="username">Uživatelské jméno </label>
                    <input type="text" class="form-control" name="username"
                           id="username" ng-model="user.username" required>
                </div>
                <div class="form-group">
                    <label for="password">Heslo </label>
                    <input type="password" class="form-control" name="password"
                           id="password" ng-model="user.password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" id="submit">
                        Přihlásit se
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>




