<div>
    <div id="personalBlock">
        <h3> {{ me.jm }} {{me.prijm}} </h3>
        <h5>
            {{ me.phone }}
        </h5>
        <div class="form-group" ng-show="!dis">
            <label for="tel"></label>
            <input type="text" class="form-control" id="tel" ng-model="me.phone">
        </div>
        <h5>
            {{ me.email }}
        </h5>
        <div class="form-group" ng-show="!dis">
            <label for="email"></label>
            <input type="text" class="form-control" id="email" ng-model="me.email">
        </div>
        <h5>
            <div class="checkbox">
                <label> <input type="checkbox" ng-model="me.phoneM" ng-disabled="dis">phone message </label>
            </div>
            <div class="checkbox">
                <label> <input type="checkbox" ng-model="me.emailM" ng-disabled="dis">email message </label>
            </div>
        </h5>
        <h5 ng-hide="!dis">
            <button class="btn btn-default btn-xs" ng-click="dis=false;"> Změna údajů </button>
        </h5>
        <h5 ng-show="!dis">
            <button class="btn btn-default btn-xs" ng-click="send(me.id, me);"> Uložit </button>
        </h5>
    </div>
</div>