<div ng-controller="reservationCtrl">

    <div>
        <div id="hledaniRezervace" class="controls form-inline">
            <div class="controls col-xs-3">
                <button type="button" class="btn btn-default" ng-click="filtrovat=''"> Všechny rezervace </button>
            </div>
            <div><input type="date" ng-model="filtrovat" class="control"></div>
            <div class="controls col-xs-3">
                <input type="text" class="form-control" ng-model="filtrovat">
            </div>
        </div>
        <div ng-show="winSize>875">
            <table class="table table-hover" id="rezervace">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Jméno</th>
                    <th>Příjmení</th>
                    <th>Tel.</th>
                    <th>Email</th>
                    <th>Den</th>
                    <th>Čas</th>
                    <th>Stůl</th>
                    <th>Akce</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rezervace in reservations | orderBy:'startDate' | filter:filtrovat">
                    <td>{{}}</td>
                    <td>{{rezervace.name}}</td>
                    <td>{{rezervace.surname}}</td>
                    <td>{{rezervace.phone}}</td>
                    <td>{{rezervace.email}}</td>
                    <td>{{ rezervace.startDate | date: 'dd.MM.yyyy' }}</td>
                    <td>{{rezervace.startDate | date:'HH:mm'}} - {{rezervace.endDate | date:'HH:mm'}}</td>
                    <td>{{rezervace.tableNum}}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group">
                            <button class="btn btn-default" ng-click=""><span class="glyphicon glyphicon-edit"></span></button>
                            <button class="btn btn-default" ng-click="deleteReservation(rezervace._id)"><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div ng-show="winSize<=875">
            <table class="table table-hover">
                <tbody ng-repeat="rezervace in reservations | orderBy:'startDate' | filter:filtrovat | date:'dd.MM.yyyy':startDate">
                <tr>
                    <th>Id</th>
                    <td>{{}}</td>
                </tr>
                <tr>
                    <th>Jméno</th>
                    <td>{{rezervace.name}}</td>
                </tr>
                <tr>
                    <th>Příjmení</th>
                    <td>{{rezervace.surname}}</td>
                </tr>
                <tr>
                    <th>Tel.</th>
                    <td>{{rezervace.phone}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{rezervace.email}}</td>
                </tr>
                <tr>
                    <th>Den</th>
                    <td>{{ rezervace.startDate | date: 'dd.MM.yyyy' }}</td>
                </tr>
                <tr>
                    <th>Čas</th>
                    <td>{{rezervace.startDate | date:'HH:mm'}} - {{rezervace.endDate | date:'HH:mm'}}</td>
                </tr>
                <tr>
                    <th>Stůl</th>
                    <td>{{rezervace.tableNum}}</td>
                </tr>
                <tr>
                    <th>Akce</th>
                    <td class="wrapper text-center">
                        <div class="btn-group btn-group-sm" role="group">
                            <button class="btn btn-default" ng-click=""><span class="glyphicon glyphicon-edit"></span></button>
                            <button class="btn btn-default" ng-click="deleteReservation(rezervace._id)"><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>