<div ng-controller="usersCtrl">
    <div class="bigTableBlock" ng-show="winSize>875">

        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Username</th>
                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Jméno</th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Příjmení</th>
                <th class="col-lg-1 col-md-1 col-sm-1 col-xs-1">Role</th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Tel.číslo</th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Email</th>
                <th class="col-lg-2 col-md-2 col-sm-2 col-xs-2">Akce</th>
            </tr>
            </thead>
            <tbody>
            <tr id="" ng-repeat="uzivatel in users" ng-class="{me: uzivatel._id == me._id}">
                <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{uzivatel.username}}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{uzivatel.name}}</td>
                <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{uzivatel.surname}}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 col-xs-1">{{uzivatel.role}}</td>
                <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{uzivatel.phone}}</td>
                <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">{{uzivatel.email}}</td>
                <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="btn-group btn-group-sm" role="group" ng-hide="uzivatel._id == me._id">
                        <button class="btn btn-default" ng-click="setAction('edit', uzivatel._id, 'user');"><span class="glyphicon glyphicon-edit"></span></button>
                        <button class="btn btn-default" ng-click="setAction('delete', uzivatel._id, 'user');"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="5">

                </td>
                <td colspan="2">
                    <div class="btn-group btn-group-md" role="group">
                        <button class="btn btn-warning" type="submit" ng-click="setAction('new', null, 'user');"><span class="glyphicon glyphicon-plus"> &nbsp;Přidat uživatele</span></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="smallTableBlock" ng-show="winSize<=875">

        <table class="table table-hover">
            <thead>
            <tr>
                <td colspan="2">
                    <div class="btn-group btn-group-md" role="group">
                        <button class="btn btn-warning" type="submit" ng-click="setAction('new', null, 'user');"> <!--TODO ng-click change-->
                            <span class="glyphicon glyphicon-plus"> &nbsp;Přidat uživatele</span>
                        </button>
                    </div>
                </td>
            </tr>
            </thead>
            <tbody ng-repeat="uzivatel in users" ng-class="{me: uzivatel._id == me._id}">
            <tr>
                <th>Username</th>
                <td>{{uzivatel.username}}</td>
            </tr>
            <tr>
                <th>Jméno</th>
                <td>{{uzivatel.name}}</td>
            </tr>
            <tr>
                <th>Příjmení</th>
                <td>{{uzivatel.surname}}</td>
            </tr>
            <tr>
                <th>Tel.číslo</th>
                <td>{{uzivatel.phone}}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{uzivatel.email}}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{uzivatel.role}}</td>
            </tr>
            <tr ng-show="uzivatel._id != me._id">
                <th>Akce</th>
                <td class="wrapper text-center">
                    <div class="btn-group btn-group-sm" role="group">
                        <button class="btn btn-default" ng-click="setAction('edit', uzivatel._id, 'user');"><span class="glyphicon glyphicon-edit">&nbsp;Upravit</span></button>
                        <button class="btn btn-default" ng-click="setAction('delete', uzivatel._id, 'user');"><span class="glyphicon glyphicon-trash"> &nbsp;Smazat</span></button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>